<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Android and iOS Test Suite" verbose="1"  parallel="tests" thread-count="4">
    <test name="Android App Test">
        <classes>
            <class name="apptest.AndroidAppTest"/>
        </classes>
    </test>
    <test name="Android Web Test">
        <classes>
            <class name="webtest.AndroidWebTest"/>
        </classes>
    </test>
    <test name="iOS App Test">
        <classes>
            <class name="apptest.iOSAppTest"/>
        </classes>
    </test>
    <test name="iOS Web Test">
        <classes>
            <class name="webtest.iOSWebTest"/>
        </classes>
    </test>
</suite>